name: Gwanak MLOps CD Pipeline

on:
  push:
    branches: [ "main" ] # 메인 브랜치 푸시 시 자동 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. GHCR 로그인 (GitHub 기본 변수 사용)
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      # 2. 도커 이미지 빌드 및 푸시
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # 계정명/저장소명으로 태그 생성
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}

      # 3. AWS 자격 증명 설정 (Secrets 사용)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      # 4. EKS 접속 정보 업데이트 (Variables 사용)
      - name: Update Kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ vars.AWS_REGION }} \
            --name ${{ vars.CLUSTER_NAME }}

      # 5. 쿠버네티스 배포 (envsubst로 YAML 내 변수 치환) -
      - name: Deploy to EKS
        env:
          IMAGE_URL: ghcr.io/${{ github.repository }}:latest
        run: |
          # deployment.yml 내의 ${IMAGE_URL} 부분을 실제 주소로 치환 후 적용
          envsubst < k8s/deployment.yml | kubectl apply -f -
          kubectl apply -f k8s/service.yml
          
          # 새 이미지 강제 반영을 위한 재시작
          kubectl rollout restart deployment/gwanak-ml-api
      #  ver 2.0
